@use "../../colors.scss";
@use "../../size.scss";

.modal {
  &_body {
    margin: 2rem;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    color: colors.$text-light-2;
  }

  &_add-task {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_text {
      width: 100%;
      border: none;
      border-radius: size.$border-radius-s;
      margin: 0.5rem 0;
    }

    &_date {
      border: none;
      border-radius: size.$border-radius-s;
      margin: 0.5rem 0;
    }

    &_save-button {
      background-color: colors.$button-yellow-1;
      color: colors.$button-text-dark-1;
      border: none;
      border-radius: size.$border-radius-s;
      margin: 0.5rem;
      margin-right: 0;
    }
  }
}
