.container {
  display: flex;
  justify-content: center;
  margin: 30px;
  position: relative;
}

.clock {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(blue, red);
  animation: clock-animation 3s infinite linear;

  &_content {
    background-color: black;
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
  }
}

@keyframes clock-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
