@use "../../colors.scss";
@use "../../size.scss";

.task {
  display: block;
  margin: 1rem;
  padding: 1rem;
  background-color: colors.$background-dark-2;

  &_name {
    font-size: size.$text-size-xl;
    color: colors.$text-light-2;
  }
}
