<div *ngIf="task">
  <app-modal
    [isOpened]="isVisible"
    (isOpenedChange)="modalClose()"
    [title]="task.name"
  >
    <div class="modal_body">
      <div class="modal_select_container">
        <div class="modal_select">
          <ng-select
            [items]="status"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="selectedStatus"
            class="custom"
            [clearable]="false"
          ></ng-select>
        </div>
      </div>
      <div class="modal_description">
        Description:<br />
        {{ task.description }}
      </div>
      <div *ngIf="task.dueDate" class="modal_due-date">
        Due date:
        {{ task?.dueDate | date: "dd MMM YY" }}
      </div>
      <form class="modal_add-comment" [formGroup]="commentForm">
        <div class="textarea-container">
          <textarea
            #textArea
            rows="4"
            class="modal_add-comment_text textarea-container_text"
            formControlName="content"
            placeholder="Add a comment"
          ></textarea>
          <button (click)="clickEmojiPicker()">😁</button>
        </div>

        <app-emoji-picker
          [(isVisible)]="isEmojiPickerVisible"
          (emoji)="addEmojiToComment($event)"
        ></app-emoji-picker>
        <button
          class="modal_add-comment_save-button"
          (click)="onSubmitComment()"
        >
          Save
        </button>
      </form>
      <div *ngFor="let comment of task.comments" class="modal_comment">
        <div>{{ comment.content }}</div>
        <div class="modal_comment_date">
          {{ comment.date | date: "dd.MM.YY HH:mm:ss" }}
        </div>
      </div>
    </div>
  </app-modal>
</div>
