.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  &_calendar {
    align-self: flex-end;
  }
}

.content {
  margin-left: 250px;
}
