@use "../../colors.scss";
@use "../../size.scss";

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: size.$gap-m;

  &_column {
    background-color: colors.$background-dark-3;
    border-radius: size.$border-radius-xl;

    &_header {
      background-color: colors.$background-dark-4;
      font-size: 2rem;
      color: colors.$text-light-1;
      padding: 1rem;
      border-radius: size.$border-radius-xl size.$border-radius-xl 0 0;
    }
  }
}
