<button class="add-task-button" (click)="openAddTaskModal()">+ Add task</button>
<app-add-task-modal
  [(isOpened)]="isAddTaskModalOpen"
  (taskAdded)="onTaskAdded($event)"
></app-add-task-modal>
<div *ngIf="taskList" class="board">
  <div *ngFor="let status of taskStatus | enumToArray" class="board_column">
    <div class="board_column_header">{{ status }}</div>
    <app-task-list
      [tasks]="getTaskListByStatus(status)"
      (statusChanged)="onStatusChanged($event)"
    ></app-task-list>
  </div>
</div>
