@use "../../colors.scss";

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: black;
  opacity: 0.9;

  z-index: 9;
}

.modal {
  z-index: 10;
  position: fixed;
  top: 2rem;
  left: 20%;
  right: 20%;
  bottom: 2rem;
  margin: auto;
  background-color: colors.$background-dark-2;

  &_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }

  &_title-container {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
  }

  &_title {
    display: inline;
    font-size: 2rem;
    color: colors.$text-light-1;
  }

  &_close-button {
    display: inline;
  }

  &_add-comment {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_text {
      width: 100%;
      border-radius: 0.5rem;
    }

    &_save-button {
      background-color: blue;
      border: none;
      border-radius: 0.5rem;
      margin: 0.5rem;
      margin-right: 0;
      align-self: flex-end;
    }
  }

  &_comment-list {
    overflow-y: auto;
  }
}
