$background-dark-1: #222831;
$background-dark-2: #393e46;
$background-dark-3: #343434;
$background-dark-4: #232323;
$text-light-1: #eeeeee;
$text-light-2: #e6e6e6;
$text-light-3: #dddddd;
$button-yellow-1: #ffd369;
$button-text-dark-1: #000;
$scrollbar-default: #444;
$scrollbar-hovered: #222;
$scrollbar-background: #d1d1d1;
$calendar-highlight-1: #7a0e0e;
$calendar-background: #3d3d3d;
