$border-radius-xl: 1.1rem;
$border-radius-m: 0.8rem;
$border-radius-s: 0.5rem;

$gap-m: 10px;

$text-size-default: 16px;
$text-size-xxl: 1.8rem;
$text-size-xl: 1.5rem;
$text-size-l: 1.2rem;
$text-size-m: 1rem;
$text-size-s: 0.8rem;
