@use "colors.scss";
@use "size.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: colors.$background-dark-1;
  font-size: size.$text-size-default;
}

h1 {
  color: colors.$text-light-1;
}

p {
  color: colors.$text-light-2;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: colors.$scrollbar-background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: colors.$scrollbar-default;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: colors.$scrollbar-hovered;
}
